@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hamburger-toggle {
        @apply [&>div]:h-0 [&>div]:bg-black [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
    }
}


body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.right {
    background-image: url("./assets/banner.png");
    background-size: cover;
}

.services > .slick-list > .slick-track {
    display: flex;
    gap: 24px;
}

.schedule > .slick-list > .slick-track {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;
}

.slick-dots li button:before{
    color: white;
}

.slick-dots li.slick-active button:before{
    color: white;
}

.slick-dots {
    text-align: left;
}

.slick-dots li {
    margin: 0;
}

.slick-dots li button:before {
    font-size: 12px;
}

.container {
    padding: 0 16px;
}
